{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  {% load static %}
  <div class="center">
    <img src="{% static '/Scamazon_Logo.png' %}" alt="My image">

    <div class="form-signin form-control">
      <h1 class="">Login</h1>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <div class="login-center">
              <tr class="form-floating form-control">
                <td>{{ form.username.label_tag }}</td>
                <td id="floatingInput" >{{ form.username }}</td>
              </tr>
              <tr class="form-floating form-control">
                <td>{{ form.password.label_tag }}</td>
                <td  id="floatingInput">{{ form.password }}</td>
              </tr>
            </div>
          </table>
          <input type="submit" class="btn btn-lg" value="Login">
          <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p><a href="{% url 'signup' %}">Sign up?</a></p>
        <p><a href="/admin/">Trying to sign in as an admin?</a></p>
    </div>
  </div>

{% endblock %}
