{% extends "base_generic.html" %}

{% block content %}
<h3> {{book.title}} </h3>

<div class="listings-display">

{% for listing in listing_list %}
    <div class="listing-display">
        <image src="{{ listing.image.image.url }}" alt="{{ listing.image.image.url }} height="200 width="115" >
        <div> ${{ listing.price | floatformat:2 }} </div>
        <div> Quantity: {{ listing.quantity }} </div>
        <div> Seller: {{ listing.userID }} </div>
        <div> Listing ID: {{ listing.listingID }} </div>

        <form action="{% url 'add_cart' book.isbn %}" method="POST">
        {% csrf_token %}
        <button type="submit", name="book_id", value="{{ book.isbn }}">Add to Cart</button>
        </form>
    </div>

{% endfor %}

</div>

{%if not listing_list %}
    <div>No listings for this book are currently posted :(</div>
{%endif %}

{% endblock %}
