{% extends "base_generic.html" %}

{% block content %}
<h3> {{book.title}} </h3>

{% for listing in listing_list %}
    <image src="{{ listing.image.image.url }}" alt="{{ listing.image.image.url }} height="200 width="115" >
    <p> ${{ listing.price | floatformat:2 }} </p>
    <p> Quantity: {{ listing.quantity }} </p>
    <p> Seller: {{ listing.userID }} </p>
    <p> Listing ID: {{ listing.listingID }} </p>

<form action="{% url 'add_cart' book.isbn %}" method="POST">
    {% csrf_token %}
    <button type="submit", name="book_id", value="{{ book.isbn }}">Add to Cart</button>
    </form>

{% endfor %}

{% endblock %}
