

{% block content %}

    <h1> {{username}}'s Cart: </h1>

{% for book in pull_cart %}
    <h1>{{ book }}</h1>
    Quantity: {{ book.quantity }}
    <br>
    Price: ${{ book.price | floatformat:2 }}
    <br>
    Page Count: {{ book.pages }}
    <br>
    Rating: {{ book.rating | floatformat:1 }}/5.0
    <br>
    <form action="{% url 'remove_cart' book.isbn %}" method="POST">
        {% csrf_token %}
        <button type="submit", name="book_id", value="{{ book.isbn }}">Remove From Cart</button>
        </form>

{% endfor %}
<form action="{% url 'browse-books' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Return to Browsing</button>
    </form>

{% endblock %}
