{% extends "base_generic.html" %}

{% block content %}
  <h1>Sold Stuff Dashboard</h1>
  <br>

  <h2>Total Money Made:</h2>
  <div>${{total_made}}</div>
  <br>

  <h2>Your Sold Listings: </h2>
  <br>
  </ul>
  {%for order in orders_list %}
    <h5> {{order.date}} by {{order.buyer.username}}:</h5>
    <li>{{order.quantity}} Copies of "{{order.book}}" for ${{order.price}} each</li>
    <li>${{order.get_total_payment}} total</li>
    <li>Ship to: {{order.address}}</li>
    <li>Delivered: {{order.delivered}}</li>
    {%if not order.delivered%}
    <br>
    <form action="{% url 'deliver_order' order.id %}" method="POST">
        {% csrf_token %}
        <button type="submit", name="id", value="{{ listing.id }}">Set as Delivered</button>
    </form>
    <br>
    {%else%}
    {%endif%}
    <br>
  {%endfor%}
  </ul>
{% endblock %}