{% extends "base_generic.html" %}

{% block content %}

  {%if undelivered_count > 0 %}
  <h2 class="notification">You have {{undelivered_count}} new sold listings! They need to be delivered!</h2>
  <a class="notification" href="/seller_orders/">Check them out here</a>
  <br>
  <br>
  {%else%}
  {%endif%}

  <h1>Scamazon</h1>
  <p>
    Seller, Welcome to Scamazon
  </p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>User Type:</strong> {{ user_type }}</li>
  </ul>


  <h2>Your listings: </h2>
  </ul>
  {%for listing in listing_list %}
    <li><a href="/seller/listings/{{listing.id}}"> Listing {{listing.id}}: </a> {{listing.quantity}} Copies of "{{listing.isbn}}" at ${{listing.price}}</li>
  {%endfor%}
  </ul>
  <br>
  <form action="{% url 'add_listing' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Add a Listing</button>
    </form>
{% endblock %}