.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
  display: inline;
}

body {
  background-color:burlywood;
}

.block {
  padding-top: 40px;
}

.center {
  width: 50%;
  margin: auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}